<div class="desktop">
  <div class="card">
    <div class="content">
      <div class="container">
        <!-- Content here -->

        <div class="row">
          <div class="col-3">
            <div class="logo">
              <img src="../../assets/icon/focus.png" />
            </div>
          </div>
          <div class="col-6">
            <div class="search">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-10">
                    <input
                      pInputText
                      placeholder="Search items, categories, brand ..."
                    />
                  </div>
                  <div class="col-2">
                    <button type="button" class="btn btn-sm">
                      Search
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="top-icons">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-4">
                    <span
                      ><img id="login" src="../../assets/icon/user.png" />
                      Login</span
                    >
                  </div>
                  <div class="col-4">
                    <span><img src="../../assets/icon/info.png" /> Help</span>
                  </div>
                  <div class="col-4">
                    <span
                      ><img src="../../assets/icon/cart.png" /><span
                        class="badge badge-danger"
                        >0</span
                      >
                      <span class="span_span">Cart</span></span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Content here -->
      </div>
    </div>
  </div>
</div>
<div class="tablet"></div>
<div class="mobile"></div>
