<div class="footer_content">
  <div class="card">
    <!--Header-->
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <img src="../../assets/icon/focus2.png" />
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <div class="push_lit">
                  <div>
                    <h5>New to Focus Mall?</h5>
                    <h6>
                      Subscribe to get updates on our latest deals!
                    </h6>
                  </div>
                  <div>
                    <div class="input-group mb-3">
                      <input
                        type="text"
                        placeholder="Email Address"
                        aria-label="Email Address"
                        aria-describedby="basic-addon2"
                      />
                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"
                          >Subscribe</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row">
              <div class="push_lit">
                <div class="col-12">
                  <div>
                    <h5>Free upcoming app</h5>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-12">
                      <div class="app">
                        <div class="row">
                          <div class="col-12">
                            <div class="row">
                              <div class="col-5">
                                <img
                                  class="logo lof"
                                  src="../../assets/icon/apple.png"
                                />
                              </div>
                              <div class="col-4">
                                <img
                                  class="logo lof_l"
                                  src="../../assets/icon/android.png"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="pull">
                              <h5>
                                App & Andriod Store
                              </h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Header-->
    <!--Footer-->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="row">
              <div class="col-12">
                <div class="push_lit">
                  <h5 class="bold_text">About Focus Mall</h5>
                  <h6>Contact Us</h6>
                  <h6>Abous Us</h6>
                  <h6>Developers</h6>
                  <h6>Terms & Conditions</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row">
              <div class="col-12">
                <div class="push_lit">
                  <h5 class="bold_text">Buying on Focus Mall</h5>
                  <h6>Delivery</h6>
                  <h6>FAQS</h6>
                  <h6>Buyer's Protection</h6>
                  <h6>Return Policy</h6>
                  <h6>Bulk Purchase</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="row">
              <div class="col-12">
                <div class="push_lit">
                  <h5 class="bold_text">More Info</h5>
                  <h6>Site Map</h6>
                  <h6>Track my order</h6>
                  <h6>Private Policy</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="row">
              <div class="col-12">
                <div class="push_lit">
                  <h5 class="bold_text">Payment Methods</h5>
                  <div class="row">
                    <div class="col-3">
                      <img
                        class="pay_icon"
                        src="../../assets/icon/get-money.png"
                      />
                    </div>
                    <div class="col-3">
                      <img
                        class="pay_icon"
                        src="../../assets/icon/mastercard.png"
                      />
                    </div>
                    <div class="col-3">
                      <img class="pay_icon" src="../../assets/icon/pay.png" />
                    </div>

                    <div class="col-3">
                      <img
                        class="pay_icon"
                        src="../../assets/icon/paypal.png"
                      />
                    </div>
                  </div>

                  <h5 class="bold_text push_it">Connent with on</h5>
                  <div class="row">
                    <div class="col-3">
                      <img
                        class="pay_icon"
                        src="../../assets/icon/facebook.png"
                      />
                    </div>
                    <div class="col-3">
                      <img
                        class="pay_icon"
                        src="../../assets/icon/instagram.png"
                      />
                    </div>
                    <div class="col-3">
                      <img
                        class="pay_icon"
                        src="../../assets/icon/youtube.png"
                      />
                    </div>

                    <div class="col-3">
                      <img
                        class="pay_icon"
                        src="../../assets/icon/twitter.png"
                      />
                    </div>
                  </div>
                  <h5 class="bold_text push_it">Phone Support</h5>
                  <h6>08035826789</h6>

                  <h5 class="bold_text push_it">Email Support</h5>
                  <h6>onomzzzy@gmail.com</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Footer-->
  </div>
</div>
