<div class="page">
    <div class="exception-body notfound">
        <div class="exception-panel">
            <div class="exception-code">
            <img id="j_idt7" src="../../assets/images/icons/404.svg.svg" alt="" />
            </div>
            
            <div class="exception-detail">
                
                <div class="exception-icon">
                    <i class="pi pi-times"></i>
                </div>
                <h1>PAGE NOT FOUND</h1>
                <p>Please contact Click the button below to start shopping with Focus Mall</p>
                <button  type="button" routerLink="/home/store" 
                class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-button-text ui-c">GO TO STORE</span></button>
            </div>
        </div></div>
</div>

