<div class="card_container">
  <div class="card">
    <div class="navigate">
      <div class="nav_header">
        <span><i class="pi pi-list"></i> <span>Categories</span></span>
      </div>
      <div class="dropdown-divider"></div>
      <div class="nav_content">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <span
                ><img src="../../assets/icon/ink.png" /><span
                  >Graphics Designers</span
                ></span
              >
            </div>
            <div class="col-12">
              <div class="dropdown-divider"></div>
            </div>
            <div class="col-12">
              <span
                ><img src="../../assets/icon/joystick.png" /><span
                  >4 Gamers</span
                ></span
              >
            </div>
            <div class="col-12">
              <div class="dropdown-divider"></div>
            </div>
            <div class="col-12">
              <span
                ><img src="../../assets/icon/laptop.png" /><span
                  >Laptops</span
                ></span
              >
            </div>
            <div class="col-12">
              <div class="dropdown-divider"></div>
            </div>
            <div class="col-12">
              <span
                ><img src="../../assets/icon/cpu.png" /><span
                  >Processors</span
                ></span
              >
            </div>
            <div class="col-12">
              <div class="dropdown-divider"></div>
            </div>
            <div class="col-12">
              <span
                ><img src="../../assets/icon/motherboard.png" /><span
                  >Mother Board</span
                ></span
              >
            </div>
            <div class="col-12">
              <div class="dropdown-divider"></div>
            </div>
            <div class="col-12">
              <span
                ><img src="../../assets/icon/gpu.png" /><span
                  >Graphics Card</span
                ></span
              >
            </div>
            <div class="col-12">
              <div class="dropdown-divider"></div>
            </div>
            <div class="col-12">
              <span
                ><img src="../../assets/icon/touchpad.png" /><span
                  >Accessaries</span
                ></span
              >
            </div>
            <div class="col-12">
              <div class="dropdown-divider"></div>
            </div>
            <div class="col-12">
              <span
                ><img src="../../assets/icon/mouse.png" /><span
                  >Peripherals</span
                ></span
              >
            </div>
            <div class="col-12">
              <div class="dropdown-divider"></div>
            </div>
            <div class="col-12">
              <span
                ><img src="../../assets/icon/work.png" /><span>Bags</span></span
              >
            </div>
            <div class="col-12">
              <div class="dropdown-divider"></div>
            </div>
            <div class="col-12">
              <span
                ><img src="../../assets/icon/online.png" /><span
                  >Softwares</span
                ></span
              >
            </div>
            <div class="col-12">
              <div class="lift"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
