<div class="card_container">
  <div class="card">
    <div class="navigate">
      <div class="nav_header">
        <span
          ><img src="../../assets/icon/info2.png" />
          <span>Why Focus Mall ?</span></span
        >
      </div>
      <div class="dropdown-divider"></div>
      <div class="nav_content">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <span
                ><img src="../../assets/icon/credit.png" /><span
                  >Money Back</span
                ></span
              >
            </div>
            <div class="col-12">
              <div class="dropdown-divider"></div>
            </div>
            <div class="col-12">
              <span
                ><img src="../../assets/icon/creativity.png" /><span
                  >Get Started</span
                ></span
              >
            </div>
            <div class="col-12">
              <div class="dropdown-divider"></div>
            </div>
            <div class="col-12">
              <span
                ><img src="../../assets/icon/percent.png" /><span
                  >Super Deals</span
                ></span
              >
            </div>
            <div class="col-12">
              <div class="dropdown-divider"></div>
            </div>
            <div class="col-12">
              <span
                ><img src="../../assets/icon/diamond.png" /><span
                  >100% New</span
                ></span
              >
            </div>
            <div class="col-12">
              <div class="lift"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
