

<div class="page" style="padding-top:.5em;">

    <div class="message_panel">
         <!--Header-->
        <div class="inbox_header">
            <div class="p-grid">
                <div class="p-col-4">
                    <div class="header_text">
                    <h4>Developers</h4>
                </div>
                </div>
                <div class="p-col-8">

                </div>

            </div>
            
        </div>
     <!--Header-->

     <!--body-->
     <div>
         <p-card [style]="{width: '100%', border: '1px solid #b3c2ca'}">
             <div class="onome_scroll">
                <ul>
                    <li>
                        <p-card [style]="{width: '100%', border: '1px solid #b3c2ca'}">
                        <div class="image-container">
                            <img src="../../assets/images/users/sam.jpg" alt="" />
                        </div>
                        <div class="seperator"></div>
                        <div class="message-box">
                            <span class="messager">Samuel Ojumah </span>
                            <span class="time"> Lead Developer and Artist</span>   
                            <span class="message">Full Stack Developer</span>       
                        </div>
                        <div class="message-status">
                            <img (click)="onClicklinkedin(0)" src="../../assets/images/icons/linkedin3.png">
                            <span></span>
                        </div>  
                    </p-card>
                    </li>
                    <li>
                        <p-card [style]="{width: '100%', border: '1px solid #b3c2ca'}">
                        <div class="image-container">
                            <img  src="../../assets/images/users/imoh.jpg" alt="" />
                        </div>
                        <div class="seperator"></div>
                        <div class="message-box">
                            <span class="messager">Simon Imoh </span>
                            <span class="time"> Senior Developer and Designer</span>   
                            <span class="message">Full Stack Developer</span>       
                        </div>
                        <div class="message-status">
                            <img (click)="onClicklinkedin(1)" src="../../assets/images/icons/linkedin3.png">
                            <span></span>
                        </div>  
                    </p-card>
                    </li>
                    </ul>
             </div>
         </p-card>
     </div>

      <!--body-->
    </div>




</div>