.inbox_header{
    background-image: linear-gradient(to right, #105079, #00c4e6);
     height: 40px;
}
.inbox_header .header_text h4{
    color:#FFF;
    margin-left: .3em;
    position: relative;
    top:-.2em
}

::-webkit-scrollbar {
    background: #bbbbbb;
    border-radius: 2px;
    height: 4px;
    width: 4px;
  } 

.empty{
    float:right;
    cursor: pointer;
    position: relative;
    left: -1em;
}
.empty p{
    color:#FFF;
}
.empty i{
    color:#FFF;
    font-size:18px;
    position: relative;
    top:.1em
}
.image-container {
    padding-right: 4px;
    display: inline-block; 
}

ul{
    padding: 0;
}

ul li {
    list-style: none;
    margin-top:10px; 
}
ul li .image-container img {
    width: 55px;
    height: 55px;
    display: inline-block;
    vertical-align: middle;
 }
 ul li .seperator {
    width: 1px;
    height: 50px;
    background-color: #eeb210;
    display: inline-block;
    vertical-align: middle; 
}
ul li .message-box {
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
    width: 73%;
    padding-left: 12px;
 }
 ul li .message-box .messager {
    color: #323232;
    font-weight: 600;
    font-family: 'Cagliostro', sans-serif!important;
    display: inline-block; 
}
ul li .message-box .time {
    display: inline-block;
    margin:3px;
    font-family: 'Cagliostro', sans-serif!important;
    color: #ABABAB;
 }
 ul li .message-box .message {
    display: block;
    font-family: 'Cagliostro', sans-serif!important;
 }
 ul li .message-status {
    float: right;
    text-align: right;
    vertical-align: middle;
    width: 7%; 
    cursor: pointer;
}
ul li .message-status img{
    display: block;
    position: relative;
    top:-.4em
 }
 ul li .message-status i.unread {
    color: #ABABAB;
 }
 @media screen and (max-width: 650px){
    ul li {
        padding: 1px 1px; 
    }
   
    ul li .message-box {
        font-size: 12px;
        width: 75%;
        padding-left: 5px;
     }
    
}

@media screen and (max-width: 450px){
    ul li .message-status img{
      top: -1.2em;
    }
}
@media screen and (max-width: 320px){
    ul li .message-box {
        padding-left: 0px;
     }
}